@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
* {
  margin: 0;
  font-family: "Baloo Paaji 2", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.app {
  padding: 20px 80px;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: rgb(250, 242, 242);
  /* background-color: rgb(87, 202, 195); */
}
.capitalise {
  text-transform: capitalize;
}
